# 阿里云OTS访问密钥 ID
TABLESTORE_ACCESS_KEY_ID=your-access-key-id
# 阿里云OTS访问密钥 Secret
TABLESTORE_ACCESS_KEY_SECRET=your-access-key-secret
# 区域，如 cn-hangzhou
TABLESTORE_AREA=cn-hangzhou

# 环境，如 development, 
# 在development模式下，使用公网访问OTS， 在production模式下，使用VPC内网访问OTS
APP_ENV=development